:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Roboto", Arial, sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}

main{
  padding-top: 70px;
}

*, ::after, ::before {
  box-sizing: border-box;
}

.font-nunito{
  font-family: 'Nunito', sans-serif;
}

.fw-1{
  font-weight: 100;
}

.fw-2{
  font-weight: 200;
}

.fw-3{
  font-weight: 300;
}

.fw-4{
  font-weight: 400;
}

.fw-5{
  font-weight: 500;
}

.fw-6{
  font-weight: 600;
}

.fw-7{
  font-weight: 700;
}

.fw-8{
  font-weight: 800;
}

.color-red{
  color:#E94C61;
}

.color-dark-blue{
  color:#1D3571;
}

.color-light-blue {
  color: #3C90CD;
}
.color-white {
  color: #FFFFFF;
}
.color-light-blue{
  color: #3C90CD;
}
.color-light-grey{
  color: #666666
}
.size-36{
  font-size: 36px;
  line-height: 40px;
}
.size-16{
  font-size: 16px;
  line-height: 24px;
}
.size-14 {
  font-size: 14px;
  line-height: 24px;
}

.size-13 {
  font-size: 13px;
  line-height: 24px;
}
.size-24 {
  font-size: 24px;
  line-height: 24px;
}
.size-12 {
  font-size: 12px;
  line-height: 24px;
}

.opa-7 {
  opacity: 0.7;
}

#wpadminbar{
  display: none;
}

@media only screen and (max-width: 1200px) {
  main{
    padding-top: 100px;
  }
}

@media only screen and (max-width: 800px) {
  main{
    padding-top: 30px;
  }
}
